body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a{
    color:white;
    text-decoration:none;
}

#container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: column; */
    height: 18vh;
    /* border: 2px solid black; */
    background-image: url(/Images/moodboard2.png);
    background-size: 100vw 100vh;
    background-position: 0vw -45vh;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 17vh;
    width: 90vw;
    /* border: 2px solid black; */
}

#forarrow {
  display: flex;
  width: 6vw;
  /* border: 2px solid green; */
  align-items: center;
  justify-content: space-around;
}

#arrow {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  height: 1.1vh;
  width: 0.4vw;
  cursor: pointer;
  transform: rotate(45deg);
}

#logoimg {
    height: 15vh;
    transform:translate(0vw,2vh);
}

#navitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 47vw;
    font-size: 28px;
    /* border: 2px solid black; */
}

.navitemstxt{
 cursor:pointer;   
}

#logbtn {
    height: 8vh;
    width: 12vw;
    background-color: #733843;
    border: none;
    font-size: 25px;
    color: #d9b8c1;
    border-radius: 15px;
    cursor: pointer;
}

#container2 {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* border: 2px solid red; */
    height: 135vh;
}
#ordercontainer {
  /* border: 2px solid rgb(156, 69, 69); */
  height: 18vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 18px;
  color: #733843;
   background-color: white; 
  /* border-radius: 5px; */
  justify-content: space-around;
  z-index: 1;
  font-family: 'DM Sans', sans-serif;
  position: fixed;
  transform: translate(38vw, -64vh);
  display: none;
}

.itemorder {
  margin-left: 0.5vw;
  padding-top: 1.5vh;
  /* padding-bottom: 1vh; */
}

.itemorder a {
  text-decoration: none;
  color: #733843;
}

#flowerorder {
  border-bottom: 2px solid #733843;
  padding-top: 1vh;
  padding-bottom: 1.5vh;
}

#vaseorder {
  border-bottom: 2px solid #733843;
  padding-bottom: 1.5vh;
}

#predefinedorder {
  /* border-bottom: 2px solid white; */
  padding-top: 1.1vh;
}

#profilecontainer {
  /* border: 2px solid rgb(156, 69, 69); */
  height: 22vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 18px;
  color: #733843;
   background-color: white; 
  /* border-radius: 5px; */
  justify-content: space-around;
  z-index: 1;
  font-family: 'DM Sans', sans-serif;
  position: fixed;
  transform: translate(84vw, -62vh);
  display: none;
}

.profileitem {
  margin-left: 0.5vw;
  padding-top: 1.5vh;
  /* padding-bottom: 1vh; */
}

.profileitem a {
  text-decoration: none;
  color: #733843;
}

#profile1 {
  border-bottom: 2px solid #733843;
  padding-top: 1vh;
  padding-bottom: 1.5vh;
}

#profile2 {
  border-bottom: 2px solid #733843;
  padding-bottom: 1.5vh;
}

#profile3 {
   border-bottom: 2px solid #733843; 
  padding-bottom: 1.5vh;
}

#profile4{
   /*border-bottom: 2px solid white; */
  padding-top: 1.1vh;
}

#con2box1 {
    display: flex;
    /* border: 2px solid green; */
    /*flex-direction: column;*/
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    height: 135vh;
    background-color: #733843;
    color: white;
    /*transform:translate(0vw , 2vh);*/
}

#flexcon2box1 {
    display: flex;
    /* border: 2px solid green; */
    flex-direction: column;
    justify-content: space-around;
    width: 18vw;
    height: 70vh;
}

.fhead {
    margin-left: 1vw;
    font-size: 50px;
}

.fvalue {
    margin-left: 2vw;
    font-size: 25px;
}

#con2box2 {
    display: flex;
    /* border: 2px solid rgb(0, 195, 255); */
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 80vw;
    height: 130vh;
}

.slider {
    position: relative;
    width: 100%;
    height: 115vh;
    /* background: #2c3e50; */
    /* darckblue */
    /* border: 2px solid rgb(255, 0, 0); */
}

.myslide {
    height: 115vh;
    display: none;
    overflow: hidden;
}

.theslide {
    height: 115vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid rgb(229, 255, 0); */
    /* overflow: hidden; */
}

.fortheslide {
    height: 115vh;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid rgb(0, 221, 255); */
    /* overflow: hidden; */
}

.sliderrow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 60vh;
    /* border: 2px solid purple; */
}

.boxcard {
    /* border: 2px solid blue; */
    background-color: #d9b8c1;
    border-radius: 15px;
    height: 50vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transition: 0.1 ease;
}

.forboximg {
    /* border: 2px solid #733843; */
    /* width: 100%; */
    height: 25vh;
    overflow:hidden;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.realforboximg {
    /* border: 2px solid blue; */
    width: 19.9vw;
    height: 30vh;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
}

.forboxdesc {
    height: 25vh;
    width: 20vw;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}

.forboxdesc1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.titles {
    font-size: 35px;
}
.price {
    font-size: 25px;
}

.realdesc {
    width: 10vw;
    height: 15vh;
    font-size: 16px;
    /* overflow: hidden; */
    /* border: 2px solid red; */
}

.forboxdesc2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6vw;
    height: 15vh;
    /* border: 2px solid red; */
    justify-content: space-around;
}

.fordescclear{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 6vw;
    /* border: 2px solid black; */
}

.formatqbtn {
    background-color: #733843;
    color: white;
    height: 4vh;
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.quantity {
    font-size: 20px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    /* transform: translate(0, -50%); */
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #733843;
    transition: 0.1s;
    user-select: none;
    /* border: 2px solid red; */
}

.prev {
    transform: translate(40%, -50%);
}

.next {
    transform: translate(-35%, -50%);
}

.prev:hover,
.next:hover {
    color: #d9b8c1;
    /* blue */
}

.next {
    right: 0;
}

#container3{
    display:block;
    height:15vh;
}

#con3flex{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:15vh;
}

#cart{
    height: 8vh;
    width: 15vw;
    background-color: #733843;
    border: none;
    font-size: 25px;
    color: #d9b8c1;
    border-radius: 15px;
}

#quanflex{
    display:flex;
    justify-content:space-around;
    width:18vw;
    font-size:25px;
}

#container10 {
    height: 25vh;
    width: 100vw;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    display: flex;
    background-image: url(/Images/photo_2023-06-05_01-52-51.jpg);
    background-size: 100vw 100vh;
    /* border: 2px solid red; */
}

#box101logo{
    height: 15vh;
    filter: brightness(50);
}

#box102{
    /* border: 2px solid red; */
    /* height: 5vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

.fdesc{
    color: #D9C2AD;
    font-size: 20px;
}

#user{
    height: 8vh;
}